@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model LoginViewModel
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="~/css/profile.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/MyTrainer.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8" style="max-width:400px;">
            <h1 class="text-center mb-4">Войти в учётную запись</h1>
            <form asp-action="Login" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                <div class="mb-3">
                    <label asp-for="Email" class="form-label visually-hidden">Почта</label>
                    <input asp-for="Email"
                           class="form-control form-control-sm"
                           placeholder="Почта" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Password" class="form-label visually-hidden">Пароль</label>
                    <input asp-for="Password"
                           type="password"
                           class="form-control form-control-sm"
                           placeholder="Пароль" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="form-check mb-3">
                    <input asp-for="RememberMe"
                           class="form-check-input"
                           id="rememberMe" />
                    <label asp-for="RememberMe"
                           class="form-check-label">
                        Запомнить меня
                    </label>
                </div>

                <div class="d-grid">
                    <button type="submit"
                            class="btn btn-primary btn-sm">
                        Войти
                    </button>
                </div>

                <div class="text-center mt-3">
                    
                </div>
            </form>
        </div>
    </div>

    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/site.js?v=hRQyftXiu1lLX2P9Ly9xa4gHJgLeR1uGN5qegUobtGo"></script>
    <script src="/Identity/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="/Identity/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script type="text/javascript" src="/_vs/browserLink" async="async" id="__browserLink_initializationData" data-requestid="caa09628d7d4484fb691e42c27b81d29" data-requestmappingfromserver="false" data-connecturl="http://localhost:61732/313a758e427348fca8d89a35dc4ba663/browserLink"></script>
    <script src="/_framework/aspnetcore-browser-refresh.js"></script>

</body>