@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<body>
		<div class="container mt-5">
			<h4 class="mb-3">Изменение пароля</h4>
			<form>
				<div class="mb-3">
					<label for="oldPassword" class="form-label">Старый пароль</label>
					<input type="password" class="form-control" id="oldPassword" placeholder="Введите старый пароль">
				</div>

				<div class="mb-3">
					<label for="newPassword" class="form-label">Новый пароль</label>
					<input type="password" class="form-control" id="newPassword" placeholder="Введите новый пароль">
				</div>

				<div class="mb-3">
					<label for="confirmPassword" class="form-label">Повторите новый пароль</label>
					<input type="password" class="form-control" id="confirmPassword" placeholder="Повторите новый пароль">
				</div>

				<button type="submit" class="btn btn-warning">Изменить пароль</button>
			</form>
		</div>
</body>
